*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
img{
    max-width: 100%;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
ul{
    list-style: none;
}
.container{
    display: flex;
    flex-direction: column;
}