* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif; }

.container {
  width: 100vw;
  height: 100vh;
  background-image: url("../../assets/img/_loginBG02.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative; }
  .container::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), color-stop(#7b7799), to(#8d82b3));
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5), #7b7799, #8d82b3); }

.login {
  position: relative;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .login__cont-icon {
    width: 100%;
    height: 50vh; }
  .login__icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%; }
    .login__icon i {
      color: white;
      font-size: 8em; }
  .login__setDates {
    width: 100%;
    height: 50vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .login__setDates input {
      display: block; }
  .login__inputs {
    width: 85%; }
    .login__inputs input {
      width: 100%;
      border: none;
      background-color: transparent;
      padding: 1rem;
      border-bottom: solid 1px rgba(255, 255, 255, 0.2);
      color: white; }
      .login__inputs input::-webkit-input-placeholder {
        color: white;
        opacity: .8;
        font-weight: 300; }
      .login__inputs input:-ms-input-placeholder {
        color: white;
        opacity: .8;
        font-weight: 300; }
      .login__inputs input::placeholder {
        color: white;
        opacity: .8;
        font-weight: 300; }
